target/
.cache/
build-script-cache/
*.log
*.macrocall
.DS_Store
public/css/bundle.css
*.bak
.worktrees/
docs-site/node_nodules
docs-site/.vitepress/cache
docs-site/.vitepress/dist
.arts
.vscode
.worktrees